@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

 

  .box-bg-color{
    background-color: #151515;
  }

  .botton-bg-color{
    background-color: #FF3D00;
  }